body {
  background-color: rgb(219, 248, 255);
}

.main-wrapper {
  background-image: url("../images/bg2.jpg");
}

.banner {
  background-color: rgb(205, 235, 255);

  .container {
    display: flex;
    flex-wrap: wrap;

    .logo img {
      max-width: 120px;
    }

    .nav-primary {
      padding: 35px 0 0 30px;
    }
  }
}

.content-szymon {
  border: 20px solid darkgreen;
  background-color: red;
  padding: 40px;
}
