body {
  background-color: #16182f;
  font-family: "Open Sans", sans-serif;
}

.bg-image {
  position: fixed;
  bottom: 0;
  z-index: -1;

  img {
    width: 100vw;
  }
}

.slider-banner {
  padding: 0 0 40px 0;
  margin: 0;

  img {
    width: 100%;
    height: auto;
  }
}

.banner {
  background-color: #111428;

  .container {
    display: flex;
    flex-wrap: wrap;

    .nav-primary {
      padding: 35px 0 0 30px;
    }
  }
}
