body {
  background-color: rgb(219, 248, 255);
}

.banner {
  background-color: rgb(205, 235, 255);

  .container {
    display: flex;
    flex-wrap: wrap;

    .logo {
      padding: 20px;

      .brand {
        font-size: 24px;
      }
    }

    .nav-primary {
      padding: 15px 0 0;
    }
  }
}

.content-szymon {
  border: 20px solid darkgreen;
  background-color: red;
  padding: 40px;
}
